h1 {

    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 70px;
    font-weight: bold;

}

.alignment {

    display: flex;
    justify-content: space-between;
    
}

.btn {

    background-color: lightblue !important;

}

#error {

    max-width: 80px;

}