body {

    background-color: #95F9E3;

}

h1 {

    background-color: #775d58e8;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 70px;
    font-weight: bold;

}

h2 {

    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

h3 {

    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;

}

#taskCard {

    background-color: mediumaquamarine;

}

/* area around the date picker input */
.datePickerArea {

    background-color: #95F9E3; 
    margin-left: 0;

}

.alignment {

    display: flex;
    justify-content: space-between;
    
}

.form-control-sm {

    max-width: 50%;
    margin-left: 15px;

}

#taskDescrip {

    max-width: 50%;
    margin-left: 15px;

}

#addTaskButton {

    margin-left: 15px;

}

.btn {

    font-family: 'Montserrat', sans-serif;
    background-color: #49D49D !important;

}

.card {


    min-width: 350px;

}

#error {

    max-width: 150px;

}

/* color around the task cards */
.colorblock {

    background-color: #775d58e8;

}